body{
  font-size: 16pt;
  text-align: justify;
  font-size: Arial;
}
img{
  width: 600px;
}
.block{
  text-align: center;
}
.B{
  width: 1000px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  background: #ffb978;
}
h1{
  text-align: center;
}
